- var title = title || 'Snapglass | Anonymously share photos with random Google Glass users'
doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width')
    block styles
  body
    block content